<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779399248724-gimtstlr6hm7fkak94heikbsc6ebm9in.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779399248724-gimtstlr6hm7fkak94heikbsc6ebm9in</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>779399248724-cp6kf9uiho55pkp6vnr2jmeqk2j8uiu4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCRabhNC6BZbBcobBnZmUz8RMG3aHS77tk</string>
	<key>GCM_SENDER_ID</key>
	<string>779399248724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>react-a214f</string>
	<key>STORAGE_BUCKET</key>
	<string>react-a214f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779399248724:ios:1cf96666140c11088ae6c1</string>
</dict>
</plist>